body {
    font-family: sans-serif;
    text-align: center;
    background-image: linear-gradient(to right bottom, salmon, lightblue);
}

ul {
    text-align: left;
    font-size: 20px;
}

header {
    background-image: url(https://i.ibb.co/rMvSTrh/5.jpg);
}

img {
    opacity: 0.5;
    width: 200px;
    height: 200px;
}

img:hover {
    opacity: 1;
}

.a {
    position: absolute;
    left: 500px;
    top: 80px;
}

footer {
    text-align: left;
    padding: 10px;
}

.i {
    width: 25px;
    height:25px;
    opacity: 1;
}

footer p{
    background-color: lightblue;
    padding: 10px;
}

footer a{
    margin-left: 10px;
}

.ot {
    text-align: left;
    background-image: url(https://krot.info/uploads/posts/2020-10/1603982117_2-p-neitralnii-fon-dlya-rabochego-stola-4.jpg);
    width: 100%;
}



.o {
    background-color:rgba(188, 253, 253, 0.39);
    width: 40%;
    
}

.o p {
    margin-top: 1px;
}

h2 img {
    width: 20px;
    height: 20px;
    opacity: 1;
}

.o:hover {
    font-size: 18px;  
    box-shadow: 5px 5px 10px 0px lightgray; 
}
